main {
  overflow: hidden;
  height: calc(100% - 140px)
}

main > .content {
  height: 100%;
}

main > nav {
  float: left;
  width: 250px;
}

main > aside {
  float: right;
  width: 250px;
}

.deck {
  height: 50%;
  border: solid black 1px;
}

